* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  transition: background .35s, color .35s;
}

body {
  background-color: var(--MainBackground);
  transition: none;
  color: var(--Text-Color);
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--PrimaryColor);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--AccentColor);
}

.container {
  margin-inline: auto;
  padding-inline: 15px;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

footer,
header,
section {
  overflow-x: hidden;
}

header .container {
  border-bottom: 1px solid var(--PrimaryColor);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 3px;
  position: relative;
  height: 80px;
}

header .container>svg {
  fill: var(--AccentColor);
  cursor: pointer;
  display: none;
}

header h1 .wrapper {
  color: var(--Text-Color);
  font-family: "Bebas Neue", sans-serif;
  font-size: 40px;
}

header .container ul {
  display: flex;
  font-weight: 700;
  font-size: 18px;
  gap: 15px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

header .container ul svg {
  display: none;
}

header .container ul li {
  cursor: pointer;
  transition: 0.2s;
}

header .container ul li:hover {
  opacity: 0.7;
}

body>.nav {
  position: absolute;
  background-color: var(--SecondaryColor);
  height: 100vh;
  z-index: 100;
  width: 250px;
  font-size: 20px;
  font-weight: bold;
  padding: 50px 0 50px 50px;
  transition: .2s;
  opacity: 0;
  left: -250px;
}

body>.nav li {
  margin-top: 25px;
}

body>.nav svg {
  fill: var(--PrimaryColor);
  display: block;
  margin: 0 50px 20px auto;
  cursor: pointer;
  transition: .2s;
}

body>.nav svg:hover {
  fill: var(--AccentColor);
}

body:has(.nav.show-mobile)::before {
  content: "";
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  z-index: 98;
  background-color: var(--SecondaryColor);
  opacity: .6;
}

body:has(.nav.show-mobile) {
  overflow: hidden;
}

.nav.show-mobile {
  position: fixed;
  left: 0;
  top: 0;
  opacity: 1;
}

.nav.hide-mobile {
  left: -250px;
  opacity: 0;
}

@media screen and (max-width: 767px) {
  header .container {
    height: unset;
    padding: 10px 15px;
    justify-content: flex-start;
    gap: 15px;
  }

  header .container .theme-toggle {
    margin-left: auto;
  }

  header .container>svg {
    display: block;
  }
}

.landing .container {
  min-height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 90px;
}

.landing h1 .wrapper{
  font-size: 65px;
  font-weight: bolder;
  color: var(--Text-Color);
}

.landing p .wrapper{
  font-size: 19px;
  margin-block: 10px;
  color: var(--Text-Color);
}

.landing .skills {
  display: flex;
  align-items: center;
}

.landing .skills h2 .wrapper {
  color: var(--AccentColor);
  font-family: "Bebas Neue", sans-serif;
  border-right: 2px solid var(--AccentColor);
  padding-right: 15px;
  margin-right: 25px;
  font-size: 26px;
}

.landing .skills ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: calc(100% - 7px);
  gap: 20px;
}

.landing .skills li .wrapper {
  background-color: var(--SecondaryColor);
  display: grid;
  place-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  cursor: pointer;
  user-select: none;
}

.landing .skills li img {
  max-width: 34px;
  height: 34px;
}

@media screen and (max-width: 767px) {
  .landing .container {
    min-height: calc(100vh - 67px);
  }

  .landing .info {
    text-align: center;
  }

  .landing h1 .wrapper{
    font-size: 60px;
  }

  .landing .skills {
    flex-direction: column;
  }

  .landing .skills h2 .wrapper {
    border-right: 0;
    padding-right: 0;
    margin-right: 0;
    border-bottom: 2px solid var(--AccentColor);
    padding-bottom: 15px;
    margin-bottom: 25px;
  }
}

.about {
  background-color: var(--SecondaryBackground);
}

.about .container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 800px;
  height: 420px;
  gap: 60px;
  line-height: 1.6;
  font-weight: 500;
}

.about h3 {
  color: var(--AccentColor);
  font-size: 28px;
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 1px;
}

.about img {
  border-radius: 50%;
  max-width: clamp(200px, 300px, 100%);
}

@media screen and (max-width: 767px) {
  .about .container {
    flex-direction: column;
    height: auto;
    padding: 25px 15px;
    text-align: center;
  }

  .about p {
    max-width: 520px;
    font-size: 15px;
  }
}

.projects {
  padding-top: 50px;
}

.projects h1 {
  color: var(--AccentColor);
  font-family: "Bebas Neue", sans-serif;
  font-size: 60px;
  margin-bottom: 50px;
}

.projects .project {
  background-color: var(--SecondaryColor);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  margin-bottom: 60px;
  padding: 20px;
  border-radius: 14px;
  box-shadow: 3px 3px 6px var(--SecondaryColor);
}

.projects img {
  max-width: 520px;
  border-radius: 14px;
}

.projects .info {
  text-align: center;
  margin: auto;
  line-height: 1.5;
  padding: 20px;
}

.project h2 {
  color: var(--AccentColor);
  font-weight: 700;
  font-size: 22px;
}

.project p {
  opacity: 0.8;
  margin-block: 3px 15px;
}

.project .techs {
  display: flex;
  gap: 6px;
  justify-content: center;
}

.project .techs span {
  padding: 4px 12px;
  border-radius: 6px;
  background-color: var(--PrimaryColor);
  color: var(--SecondaryColor);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.241);
}

.project .links {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-size: 20px;
  gap: 15px;
  font-weight: 500;
}

.project .links a {
  transition: 0.2s;
  opacity: 0.8;
}

.project .links a:first-child .icon {
  font-size: 23px;
}

.project .links a:last-child .icon {
  font-size: 19px;
}

.project .links a:hover {
  opacity: 1;
}

@media (min-width: 1200px) {
  .projects .container {
    width: 1000px;
  }
}

@media (max-width: 991px) {
  .project img {
    max-width: 100%;
  }

  .projects .project {
    flex-direction: column;
  }
}

@media (max-width: 560px) {
  .projects .project {
    padding: 10px;
    gap: 10px;
    margin-bottom: 40px;
  }

  .projects h1 {
    margin-bottom: 40px;
  }

  .projects .info {
    padding: 10px;
  }

  .project .links {
    font-size: 18px;
    gap: 10px;
  }

  .project .links a:first-child .icon {
    font-size: 21px;
  }

  .project .links a:last-child .icon {
    font-size: 18px;
  }
}

.contact {
  background-color: var(--SecondaryBackground);
  padding-block: 50px;
  margin-top: 70px;
}

.contact h1 {
  color: var(--AccentColor);
  font-family: "Bebas Neue", sans-serif;
  font-size: 60px;
  margin-bottom: 40px;
}

.contact .content {
  display: flex;
  gap: 50px;
}

.contact .content .box {
  display: flex;
  align-items: center;
  gap: 15px;
  cursor: pointer;
}

.contact .circle {
  background-color: var(--PrimaryColor);
  border-radius: 50%;
  aspect-ratio: 1;
  width: 50px;
  display: grid;
  place-items: center;
  font-size: 21px;
}

.contact .circle .icon {
  transition: 0.3s;
}

.contact .box:hover .icon {
  scale: 1.1;
  color: var(--SecondaryColor);
}

.contact .box h3 {
  font-weight: 700;
  color: var(--);
  font-size: 20px;
  opacity: 0.8;
}

.contact .box p {
  color: var(--AccentColor);
  font-size: 15px;
  opacity: 0.8;
}

@media (min-width: 1200px) {
  .contact .container {
    width: 1000px;
  }
}

@media (max-width: 560px) {

  .projects h1,
  .contact h1 {
    text-align: center;
  }

  .contact .content {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .contact .content .box {
    flex-direction: column;
    align-items: center;
  }
}

footer {
  padding-block: 50px;
  position: relative;
}

footer::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--PrimaryColor);
  opacity: 0.3;
}

footer .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  font-weight: bold;
}

footer .icons {
  display: flex;
  align-items: center;
  gap: 15px;
}

footer .container .icon {
  font-size: 30px;
  transition: 0.2s;
}

footer .container .icon:hover {
  color: var(--AccentColor);
}

@media (max-width: 560px) {
  footer {
    padding-block: 40px 30px;
  }

  footer .container {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;
  }
}

.hidden-right {
  opacity: 0;
  filter: blur(5px);
  transition: opacity 1s, filter 1s, transform 1s;
  transform: translateX(100%);
  position: relative;
  z-index: 0;
}

.hidden-up {
  opacity: 0;
  filter: blur(5px);
  transition: opacity 1s,
    filter 1s,
    transform 1s;
  transform: translateY(-100%);
}

.hidden-left {
  opacity: 0;
  filter: blur(5px);
  transition: opacity 1s,
    filter 1s,
    transform 1s;
  transform: translateX(-100%);
  z-index: 0;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateY(0);
}